<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<!DOCTYPE html>
<html>
<head>
    <title>Register user</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css"
          href="../css/formStyle.css"
          th:href="@{/css/formStyle.css}">
</head>
<body>
<div class="form-style-6">
    <h1>Register new user:<br/></h1>
    <form method="POST" action="/admin/register">
        <label><input name="username" type="text" placeholder="User name"/></label>
        <label><input name="password" type="text" placeholder="Password"/></label><br><br>
        <label><input name="USER" type="checkbox" value="USER" checked>USER</label><br><br>
        <label><input name="ADMIN" type="checkbox" value="ADMIN">ADMIN</label><br><br>
        <input type="submit" value="Register"/>
    </form>
</div>
</body>
</html>
